.swade-howard::after {
  content: "";
  background: url(./images/avocado.png);
  background-repeat: repeat;
  background-size: 150px;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
  font-weight: 550;
  color: black;
}

img {
  border-radius: 25% 10%;
  border: 1px solid black;
}

.colleagues-container {
  width: 50%;
}

.selfie-with-cats {
  width: 100%;
}

.cats-on-desk {
  width: 100%;
}
